

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.container{
    width: 1180px;
    margin: auto auto;
}

header {
    background-color: #ff6900;
    min-height: 60px;
    justify-content: center;
}

.around{
    justify-content: space-around;
}

.wrap {
    flex: wrap;
}



/* header */

.img-header {
    height: 20px;
    width: 10%;
}

.logos {
    height: 20px;
}

.logos img {
    margin-right: 10px;
}

ul {
    list-style: none;
    width: 20%;
    justify-content: center;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: bold;
}

ul a:hover {
    text-decoration: underline;
}


/* main */

.card {
    height: 500px;
    width: 32%;
    margin-bottom: 20px;
    text-align: left;
    margin: 0 10px 30px 0;
    background-color: #0f0e17;
    color: white;
    display: flex;
}
